@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  padding: 2rem;
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
}
.input-box{
  display: flex;
}

.input-container{
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}
#add-btn{
  margin-left: 20px;
  padding: 20px;
  font-weight: 700;
  background-color: #038585;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  /* background: #fff; */
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: background-color 0.7s;
}
ul li:hover{
  background-color: #faebd7;
}

ul li p{
  flex-grow: 1;
}
.btn{
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.deleteBtn{
  color: #ff0000;
}
.editBtn{
  color: #008000;
}